html{
    background-color: lightcyan;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans';
}

form {
    text-align: center;
}
input {
    height: 20px;
    width: 150px;
    margin: 5px;
    margin-right: 0px;
}
.button {
    height: 20px;
    width: 150px;
}
